:root {
  background-color: #5da869;
  font-size: 90%;
}

h1 {
  font-size: 7.5rem;
  color: #e0eb56;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 900;
    
}
